# {{ ansible_managed }}

daemon = {{ tuned_daemon }}
dynamic_tuning = {{ tuned_dynamic_tuning }}
sleep_interval = {{ tuned_sleep_interval }}
update_interval = {{ tuned_update_interval }}
recommend_command = {{ tuned_enable_recommend }}
reapply_sysctl = {{ tuned_reapply_sysctl }}
